@model Sis_Atualizacoes.Models.PacotesAtualizacoes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PacotesAtualizacoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumVersao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumVersao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroAlteracoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroAlteracoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProjNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProjNavigation.IdProjeto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPacote">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
